[user]
	email = ricky.anderson2696@gmail.com
	name = Ricky Anderson

[gitlab]
	user = rickyson

[github]
	user = rickyson96

[credential]
	helper = !pass-git-helper $@
	useHttpPath = true

[http]
	postBuffer = 1524288000

[branch]
	autoSetupMerge = always
	autoSetupRebase = never

[init]
	defaultBranch = main

[fetch]
	writeCommitGraph = true

[core]
	pager = delta

[interactive]
	pager = delta --color-only --diff-so-fancy

[delta]
	navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[url "git@bitbucket.org:"]
	 insteadOf = "https://bitbucket.org"

[url "git@github.com:"]
	 insteadOf = "https://github.com"

[rerere]
	enabled = true
[gpg]
	program = gpg2
[pull]
	rebase = true

[includeIf "gitdir:~/projects/xendit/"]
	path = ~/.xendit.gitconfig

[alias]
	crypt = git-crypt
