[Desktop Entry]
Version=1.0
Type=Application
Name=Notion - Wayland
GenericName=Online Document Editor
Comment=Your connected workspace for wiki, docs & projects
Exec=notion-app-nativefier --ozone-platform-hint=auto %U
Icon=notion
Categories=Office;
MimeType=x-scheme-handler/notion;
X-Desktop-File-Install-Version=0.27
