[Desktop Entry]
Name=Station
StartupWMClass=Station
Comment=getstation.com
GenericName=Station for Linux
Exec=/home/randerson/.local/applications/Station-x86_64.AppImage --enable-features=UseOzonePlatform --ozone-platform=wayland
Icon=station
Type=Application
MimeType=x-scheme-handler/station;
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
