[Desktop Entry]
Name=Station
StartupWMClass=Station
Comment=getstation.com
GenericName=Station for Linux
Exec=station --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Icon=station
Type=Application
MimeType=x-scheme-handler/station;
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
